<div class="row">
    <div class="col-xs-12">
        <div class="btn btn-success"> New Recipe</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 my-1" >
        <a href="#" class="d-flex list-group-item align-items-center recipeLink" *ngFor="let recipe of recipes">
            <span class="">
                <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid mx-2" style="max-height: 60px;">
            </span>
            <div class="mx-2">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            
        </a>
    </div>
    <app-recipe-item ></app-recipe-item>
</div>
